name: 06 Build docker image

on:
  workflow_dispatch:
  workflow_call:
    outputs:
      image-tag:
        description: "The tag of my image test"
        value: ${{ jobs.docker.outputs.image-tag }}

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    outputs:
      image-tag: ${{ steps.set-output.outputs.image-tag }}
    steps:
      - uses: actions/checkout@v3

      - name: Download application binary
        uses: actions/download-artifact@v4
        with:
          name: Application-Binary
          path: target

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.SECRET }} # Aquí tu PAT

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=schedule,pattern=main

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Set output for workflow_call
        id: set-output
        run: echo "image-tag=$(echo '${{ steps.meta.outputs.tags }}' | cut -d',' -f1)" >> $GITHUB_OUTPUT

      - name: Run Container Image Scan
        uses: ./.github/workflows/container-image-scan.yml
        with:
          image-tag: ${{ steps.set-output.outputs.image-tag }} # pasa la imagen recién construida
